<p></p>
<div class="mx-auto">
  <div class="card text-dark bg-light mb-3">
    <h5 class="card-header">Diversity</h5>
    <div class="card-body">
      <p class="card-text">The representation of different people including different ethnicities, religions,
        sexualities,genders and abilities</p>
    </div>
  </div>
  <p></p>
  <div class="card text-dark bg-light mb-3">
    <h5 class="card-header">Inclusion</h5>
    <div class="card-body">
      <p class="card-text">Ensuring that everyone has an equal opportunity to contribute and to influence</p>
    </div>
  </div>
  <p></p>
  <div class="card text-dark bg-light mb-3">
    <h5 class="card-header">Belonging</h5>
    <div class="card-body">
      <p class="card-text">Ensuring that everyone feels safe and at home</p>
    </div>
  </div>
</div>
